---
layout: default
---

<a href="{{ site.github.url }}/pages/knowledge_base.html">Knowledge Base</a>

{% assign dir_array = page.dir | split: "/" %}
{% for folder in dir_array %}
  {% assign folder_formatted = folder | replace: "%20", " " %}
  {% if folder and folder_formatted != page.title %}
    {% for check_page in site.pages %}
      {% if check_page.title == folder_formatted %}
        &gt; <a href="{{ site.github.url }}{{ check_page.url }}">{{ folder_formatted }}</a>
      {% endif %}
    {% endfor %}    
  {% endif %}
{% endfor %}

<div class="page-content">
<h1>{{ page.title }}</h1>

{% if page.image %}
  {% assign image = page.image %}
{% else %}
  {% assign image = page.title | append: ".jpg" %}
{% endif %}

<div class="featured-image">
  <img src="{{ site.github.url }}/assets/img/{{ image }}">
</div>

<article>
  {{ content }}
</article>

{% assign dir_array = page.dir | split: "/" %}
{% assign dir_array_size_increment = dir_array.size | plus: 1 %}

{% for current_page in site.pages %}
  {% assign current_dir_array = current_page.dir | split: "/" %}
  <p>
    {% if current_page.dir contains page.dir and current_dir_array.size == dir_array_size_increment %}
    {% if current_page.image %}
      {% assign image = current_page.image %}
    {% else %}
      {% assign image = current_page.title | append: ".jpg" %}
    {% endif %}
<article>
  <a href="{{ site.github.url }}{{ current_page.url }}">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/{{ image }})">
      <h2><span>{{ current_page.title }}</span></h2>
    </div>
  </a>
</article>
    {% endif %}
  </p>
{% endfor %}

</div>
