---
layout: default
---

<div class="page-content">
  <h1>
    {{ page.title }}
  </h1>

  <span class="post-date">
    {{ site.data.settings.post_date_prefix }}
    {% assign d = page.date | date: "%-d"  %}
    {{ page.date | date: "%B" }}
    {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st
      {% when '2' or '22' %}{{ d }}nd
      {% when '3' or '23' %}{{ d }}rd
      {% else %}{{ d }}th{% endcase %},
    {{ page.date | date: "%Y" }}
  </span>

  {% if page.image %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
    </div>
  {% endif %}

  <article>
    {{ content }}
  </article>


<!-- Pagination links -->
<div class="pagination">
  {% if page.next.url %}
    <a class="pagination-button pagination-active" href="{{page.next.url}}">&#10096; &nbsp; {{page.next.title}}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
  {% if page.previous.url %}
    <a class="pagination-button pagination-active next" href="{{page.previous.url}}"> {{page.previous.title}} &nbsp; &#10097; </a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
</div>

</div>
